// Main
@import "utilities";
@import "reset";

// Pages
@import "./pages/all";

// Components
@import "./components/all";

body {
  font-family: "Montserrat", sans-serif;
  background-color: black;
  color: white;
}
