/* Breakpoint sizes */
$mobile-small: 320px;
$mobile: 544px;
$tablet: 768px;
$desktop-small: 1024px;
$desktop-big: 1600px;

@mixin breakpoint($media) {
  @if $media == mobile-small {
    @media only screen and (max-width: $mobile-small) {
      @content;
    }
  } @else if $media == mobile {
    @media only screen and (max-width: $mobile) {
      @content;
    }
  } @else if $media == tablet {
    @media only screen and (max-width: $tablet) {
      @content;
    }
  } @else if $media == desktop-small {
    @media only screen and (max-width: $desktop-small) {
      @content;
    }
  } @else if $media == desktop-big {
    @media only screen and (max-width: $desktop-big) {
      @content;
    }
  }
}
